[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pyspark = "*"
pandas = "*"
seaborn = "*"
numpy = "*"
jupyter = "*"
pyarrow = "*"
pipfile = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
